html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  max-width: 1920px;
  width: 100%;
}

header {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
  left: 0;
}
nav {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
nav::after {
  clear: both;
  content: "";
  display: block;
}

.navigation {
  max-width: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#titulo {
  font-family: Trattatello, fantasy;
  text-decoration: none;
  color: black;
  float: left;
  line-height: 88px;
  margin: 0 20px;
}
#logo {
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-left: 25px;
  float: left;
}

.navigation ul {
  float: right;
  height: 100px;
  line-height: 90px;
  margin: 0;
}
.navigation li {
  list-style: none;
  float: right;
  margin: 0 15px;
}

.navigation li a {
  text-decoration: none;
  color: #666;
}

#main_banner {
  background: url("img/mario-1558068_1920.jpg");
  background-size: cover;
  background-position: 0 20%;
  position: relative;
}

#inf_buttom {
  position: relative;
  width: 50%;
  margin-left: 150px;
  margin-right: auto;
  padding-top: 20em;
  padding-bottom: 20em;
  text-align: center;
  font-family: fantasy;
}

#inf_buttom p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
}
button {
  background-color: darkblue; /* Green */
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 32px;
  margin-top: 35px;
}
.servicos {
  background-color: #f0f0f0;
  padding: 80px;
  text-align: center;
}

.servicos ul {
  list-style: none;
  padding: 0;
}

.servicos li {
  display: inline-block;
  margin: 0 50px;
}

.servicos img {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 50%;
}
.servicos a {
  text-decoration: none;
  color: #0077b6;
  margin: 110px;
}
#slider {
  background: url("img/minecraft-1106261_1920.png");
  background-size: cover;
  background-position: 0 20%;
  position: relative;
}

#inf {
  position: relative;
  width: 50%;
  margin-left: 150px;
  margin-right: auto;
  padding-top: 20em;
  padding-bottom: 20em;
  text-align: center;
  font-family: fantasy;
}
#inf h1 {
  color: white;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

#inf p {
  margin: auto;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
}
.trabalho {
  background-color: #f0f0f0;
  padding: 80px;
  text-align: center;
}

.trabalho ul {
  list-style: none;
  padding: auto;
}

.trabalho li {
  display: inline-block;
  margin: 0 50px;
  text-align: center;
}

.trabalho img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.trabalho a {
  text-decoration: none;
  color: black;
  margin: 65px;
  padding: auto;
}

#youtube {
  position: relative;
  background-color: #f0f0f0;
  padding: 80px;
  text-align: center;
}
#youtube iframe {
  width: 1400px;
  height: 900px;
}
